<!-- <h1>Weather forecast</h1> -->

<!-- <p>This component demonstrates fetching data from the server.</p> -->

<!-- <p *ngIf="!forecasts"><em>Loading...</em></p> -->

<!-- <table class='table' *ngIf="forecasts"> -->
  <!-- <thead> -->
    <!-- <tr> -->
      <!-- <th>Date</th> -->
      <!-- <th>Temp. (C)</th> -->
      <!-- <th>Temp. (F)</th> -->
      <!-- <th>Summary</th> -->
    <!-- </tr> -->
  <!-- </thead> -->
  <!-- <tbody> -->
    <!-- <tr *ngFor="let forecast of forecasts"> -->
      <!-- <td>{{ forecast.dateFormatted }}</td> -->
      <!-- <td>{{ forecast.temperatureC }}</td> -->
      <!-- <td>{{ forecast.temperatureF }}</td> -->
      <!-- <td>{{ forecast.summary }}</td> -->
    <!-- </tr> -->
  <!-- </tbody> -->
<!-- </table> -->

<div class="parsys sectionpar"> 
            <div class="text parbase section">


    

    <div class="text-component " data-emptytext="Edit Text">
        <h2 style="text-align: center;">Explore our services</h2>

    </div>

</div>
<div class="parsys_column pwccol3-longform"><div class="parsys_column pwccol3-longform-c0"><div class="text parbase section">


    

    <div class="text-component " data-emptytext="Edit Text">
        <h3><b><a adhocenable="false" href="/services/accounting-advisory.html">Accounting Advisory</a></b></h3>
<h3><b><a adhocenable="false" href="/services/ifrs.html">IFRS in India</a></b></h3>
<h3><b><a adhocenable="false" href="/consulting.html">Consulting</a></b></h3>
<p><a adhocenable="false" href="/consulting/cyber-security.html">Cyber Security</a></p>
<p><a adhocenable="false" href="/consulting/digital-services.html">Digital Services</a></p>
<p><a adhocenable="false" href="/consulting/financial-risk-and-regulations.html">Financial Risk and Regulations (FRR)</a></p>
<p><a adhocenable="false" href="/consulting/forensic-services.html">Forensic Services</a></p>
<p><a adhocenable="false" href="/consulting/government-and-public-sector.html">Government and Public Sector</a></p>
<p><a adhocenable="false" href="/consulting/licensing-management-and-contract-compliance-services.html">Licensing Management and Contract Compliance</a></p>
<p><a adhocenable="false" href="/consulting/management-consulting.html">Management Consulting</a></p>
<p><a adhocenable="false" href="/consulting/strategy.html">Strategy Consulting</a></p>
<p><a adhocenable="false" href="/services/sustainability-and-responsible-business-advisory.html">Sustainability and Responsible Business Advisory</a></p>
<p><a adhocenable="false" href="/consulting/technology.html">Technology Consulting</a></p>
<h3><b><a adhocenable="false" href="/services/deals.html">Deals</a></b></h3>

    </div>

</div>
<div class="text parbase section">


    

    <div class="text-component " data-emptytext="Edit Text">
        <h3><a adhocenable="false" href="/services/emerging-markets-centre-of-excellence.html"><b>Emerging Markets Centre of Excellence</b></a></h3>

    </div>

</div>
<div class="text parbase section">


    

    <div class="text-component " data-emptytext="Edit Text">
        <h3><a adhocenable="false" href="/services/entrepreneurial-and-private-business.html"><b>Entrepreneurial and Private Business</b></a></h3>

    </div>

</div>
<div class="text parbase section">


    

    <div class="text-component " data-emptytext="Edit Text">
        <h3><b><a href="/consulting/financial-services/fintech.html" adhocenable="false">FinTech</a></b></h3>
<p><a href="/consulting/financial-services/fintech/start-ups.html" adhocenable="false">Startups</a></p>
<p><a href="/consulting/financial-services/fintech/banks-insurance-financial-services.html" adhocenable="false">Banks, Insurance and other Financial Services companies</a></p>

    </div>

</div>
<div class="text parbase section">


    <p class="cq-text-placeholder-ipe" data-emptytext="Edit Text">
        
    </p>

    

</div>
</div><div class="parsys_column pwccol3-longform-c1"><div class="text parbase section">


    

    <div class="text-component " data-emptytext="Edit Text">
        <h3><a adhocenable="false" href="/tax-and-regulatory-services.html"><b>Tax and Regulatory Services</b></a></h3>
<p><a href="/tax-and-regulatory-services/corporate-and-international-tax.html">Corporate and International Tax</a></p>
<p><a adhocenable="false" href="/india-services/financial-services-new.html">Financial Services</a></p>
<p><a adhocenable="false" href="/india-services/indirect-tax.html">Indirect Tax</a></p>
<p><a adhocenable="false" href="/india-services/international-assignments.html">International Assignments</a></p>
<p><a adhocenable="false" href="/india-services/mergers-acquisitions.html">Mergers and Acquisitions</a></p>
<p><a adhocenable="false" href="/india-services.html">Regulatory Services</a></p>
<p><a adhocenable="false" href="/tax-and-regulatory-services/tax-technology.html">Tax technology</a></p>
<p><a adhocenable="false" href="/india-services/litigation-services.html">Tax Controversy and Dispute Resolution</a></p>
<p><a adhocenable="false" href="/india-services/transfer-pricing.html">Transfer Pricing</a></p>

    </div>

</div>
<div class="text parbase section">


    

    <div class="text-component " data-emptytext="Edit Text">
        <h3><a adhocenable="false" href="/government-reforms-and-infrastructure-development.html"><b>Government Reforms and Infrastructure Development (GRID)</b></a></h3>
<p><a adhocenable="false" href="/government-reforms-and-infrastructure-development/agriculture.html">Agriculture and Natural Resources</a></p>
<p><a adhocenable="false" href="/government-reforms-and-infrastructure-development/capital-projects.html">Capital Projects</a></p>
<p><a adhocenable="false" href="/government-reforms-and-infrastructure-development/energy-efficiency.html">Energy Efficiency</a></p>
<p><a adhocenable="false" href="/government-reforms-and-infrastructure-development/oil-and-gas.html">Oil and Gas</a></p>
<p><a adhocenable="false" href="/industries/power-and-mining.html">Power and Mining</a></p>
<p><a adhocenable="false" href="/government-reforms-and-infrastructure-development/public-finance-and-economics.html">Public Finance and Economics</a></p>
<p><a adhocenable="false" href="/government-reforms-and-infrastructure-development/renewable-energy.html">Renewable Energy</a></p>
<p><a adhocenable="false" href="/government-reforms-and-infrastructure-development/social-sector.html">Social Sector Advisory Services</a></p>
<p><a adhocenable="false" href="/government-reforms-and-infrastructure-development/urban-utilities.html">Urban Utilities and Governance</a></p>

    </div>

</div>
</div><div class="parsys_column pwccol3-longform-c2"><div class="text parbase section">


    

    <div class="text-component " data-emptytext="Edit Text">
        <h3><a adhocenable="false" href="/services/risk-assurance-services.html"><b>Risk Assurance Services</b></a></h3>
<p><a adhocenable="false" href="/services/risk-assurance-services/internal-audit.html">Internal Audit</a></p>
<p><a href="https://www.pwc.in/services/risk-assurance-services/governance-risk-and-compliance.html">Governance, Risk and Compliance</a></p>
<p><a href="https://www.pwc.in/services/risk-assurance-services/it-and-project-assurance.html">Information Technology and Project Assurance</a></p>
<p><a href="https://www.pwc.in/services/risk-assurance-services/financial-services.html">Financial Services</a></p>

    </div>

</div>
<div class="text parbase section">


    

    <div class="text-component " data-emptytext="Edit Text">
        <h3><b><a href="/pwcs-technology-solutions.html" adhocenable="false">PwC's Technology Solutions</a></b></h3>
<h3><b><a href="/services/global-crisis-centre.html">PwC's Global Crisis Centre</a></b></h3>

    </div>

</div>
<div class="text parbase section">


    

    <div class="text-component " data-emptytext="Edit Text">
        <h3><b><a adhocenable="false" href="/services/international-business-groups.html">International Business Groups</a></b></h3>

    </div>

</div>
</div></div><div style="clear:both"></div>

        </div>
