<!-- <h1>Weather forecast</h1> -->

<!-- <p>This component demonstrates fetching data from the server.</p> -->

<!-- <p *ngIf="!forecasts"><em>Loading...</em></p> -->

<!-- <table class='table' *ngIf="forecasts"> -->
  <!-- <thead> -->
    <!-- <tr> -->
      <!-- <th>Date</th> -->
      <!-- <th>Temp. (C)</th> -->
      <!-- <th>Temp. (F)</th> -->
      <!-- <th>Summary</th> -->
    <!-- </tr> -->
  <!-- </thead> -->
  <!-- <tbody> -->
    <!-- <tr *ngFor="let forecast of forecasts"> -->
      <!-- <td>{{ forecast.dateFormatted }}</td> -->
      <!-- <td>{{ forecast.temperatureC }}</td> -->
      <!-- <td>{{ forecast.temperatureF }}</td> -->
      <!-- <td>{{ forecast.summary }}</td> -->
    <!-- </tr> -->
  <!-- </tbody> -->
<!-- </table> -->

<div class="parsys sectionpar"> 
            <div class="text parbase section">


    

    <div class="text-component " data-emptytext="Edit Text">
        <h2 style="text-align: center;">Dell services</h2>

    </div>

</div>
<div class="parsys_column pwccol3-longform"><div class="parsys_column pwccol3-longform-c0"><div class="text parbase section">


    

    

</div>
<div class="text parbase section">


    

   

</div>
<div class="text parbase section">


    

   

</div>
<div class="text parbase section">


    

 

</div>
<div class="text parbase section">



    

</div>
</div><div class="parsys_column pwccol3-longform-c1"><div class="text parbase section">


    


</div>
<div class="text parbase section">




</div>
</div><div class="parsys_column pwccol3-longform-c2"><div class="text parbase section">


    


</div>
<div class="text parbase section">


    


</div>
<div class="text parbase section">


    



</div>
</div></div><div style="clear:both"></div>

        </div>
