<!-- <h1>Counter</h1> -->

<!-- <p>This is a simple example of an Angular component.</p> -->

<!-- <p>Current count: <strong>{{ currentCount }}</strong></p> -->

<!-- <button (click)="incrementCounter()">Increment</button> -->

<div class="parsys sectionpar"> 
            <div class="text parbase section">


    

    <div class="text-component " data-emptytext="Edit Text">
        <h2>Explore by industry</h2>

    </div>

</div>
<div class="parsys_column pwccol3-longform"><div class="parsys_column pwccol3-longform-c0"><div class="text parbase section">


    

    <div class="text-component " data-emptytext="Edit Text">
        <p><a href="/industries/aerospace-and-defence.html" adhocenable="false">Aerospace and Defence</a></p>
<p><a href="/industries/automotive.html" adhocenable="false">Automotive</a></p>
<p><a href="/industries/capital-projects-and-infrastructure.html" adhocenable="false">Capital Projects and Infrastructure</a></p>
<p><a href="/industries/chemicals.html" adhocenable="false">Chemicals</a></p>
<p><a href="/industries/education.html" adhocenable="false">Education</a></p>
<p><a href="/industries/entertainment-and-media.html" adhocenable="false">Entertainment and Media</a></p>

    </div>

</div>
</div><div class="parsys_column pwccol3-longform-c1"><div class="text parbase section">


    

    <div class="text-component " data-emptytext="Edit Text">
        <p><a href="/consulting/financial-services.html" adhocenable="false">Financial Services</a></p>
<p><a href="/industries/government-and-public-sector.html" adhocenable="false">Government and Public Sector</a></p>
<p><a href="/industries/healthcare.html" adhocenable="false">Healthcare</a></p>
<p><a href="/industries/industrial-manufacturing.html" adhocenable="false">Industrial Manufacturing</a></p>
<p><a href="/industries/metals.html" adhocenable="false">Metals</a></p>
<p><a href="/government-reforms-and-infrastructure-development/oil-and-gas.html" adhocenable="false">Oil and Gas</a></p>

    </div>

</div>
</div><div class="parsys_column pwccol3-longform-c2"><div class="text parbase section">


    

    <div class="text-component " data-emptytext="Edit Text">
        <p><a href="/industries/power-and-mining.html" adhocenable="false">Power and Mining</a></p>
<p><a href="/industries/pharmaceuticals-and-life-sciences.html" adhocenable="false">Pharmaceuticals and Life Sciences</a></p>
<p><a href="/industries/private-equity.html" adhocenable="false">Private Equity</a></p>
<p><a href="/industries/retail-and-consumer.html" adhocenable="false">Retail and Consumer</a></p>
<p><a href="/industries/technology.html" adhocenable="false">Technology</a></p>
<p><a href="/industries/telecom.html" adhocenable="false">Telecom</a></p>

    </div>

</div>
</div></div><div style="clear:both"></div>

        </div>
