<!-- <h1>Counter</h1> -->

<!-- <p>This is a simple example of an Angular component.</p> -->

<!-- <p>Current count: <strong>{{ currentCount }}</strong></p> -->

<!-- <button (click)="incrementCounter()">Increment</button> -->

<div class="parsys sectionpar"> 
            <div class="text parbase section">


    

    <div class="text-component " data-emptytext="Edit Text">
        <h2>Dell Industry</h2>

    </div>

</div>
<div class="parsys_column pwccol3-longform"><div class="parsys_column pwccol3-longform-c0"><div class="text parbase section">


    

   
</div>
</div><div class="parsys_column pwccol3-longform-c1"><div class="text parbase section">


    


</div>
</div><div class="parsys_column pwccol3-longform-c2"><div class="text parbase section">


    


</div>
</div></div><div style="clear:both"></div>

        </div>
